alias start-quicken='aws ec2 start-instances --instance-ids i-2d7cfb4a && echo "waiting 10 seconds to allocate address" && sleep 10 && aws ec2 associate-address --instance-id i-2d7cfb4a --public-ip 54.204.46.118 && while /usr/bin/true; do sleep 1 && echo "Checking..." && aws ec2 describe-instance-status --instance-id i-2d7cfb4a | grep initializing || break; done; echo "ready to go!! RDP to quicken.eps0.net"'
alias bondstreet='cd ~/projects/bondstreet_web/'
alias prompt='cd ~/Dropbox/My\ Documents/Projects/pebble/prompt'
alias eb='python ~/AWS-ElasticBeanstalk-CLI-2.6.0/eb/linux/python2.7/eb'
alias become_darth='sudo ifconfig en0 ether b8:e8:56:07:95:ac'
alias become_iphone='sudo ifconfig en0 ether 28:e1:4c:06:d8:81'
alias gitopen='REF=`git symbolic-ref --short HEAD` && open http://github.com/`git ls-remote --get-url | cut -f2 -d":" | sed "s/\.git$//"`/compare/${REF}?expand=1'
p() { [ $# -lt 1 ] && echo "you need an IP. $0 <IP>" && return 1; ( while true; do echo `date`; sleep 10; done ) & ping $1; }

